@model App.Models.ViewModels.DependentViewModel


<div class="container">

	<h4>Dependent Info</h4>
	<form asp-action="Dependent">
		<div class="col-md-5">
			<div class="form-group">
				<label asp-for="NextOfKinName" class="control-label"></label>
				<input asp-for="NextOfKinName" type="text" class="form-control" />
				<span asp-validation-for="NextOfKinName"></span>
			</div>

			<div class="form-group">
				<label asp-for="NextOfKinAddress" class="control-label"></label>
				<input asp-for="NextOfKinAddress" type="text" class="form-control" />
				<span asp-validation-for="NextOfKinAddress"></span>
			</div>

			<div class="form-group">
				<label asp-for="NextOfKinEmail" class="control-label"></label>
				<input asp-for="NextOfKinEmail" type="text" class="form-control" />
				<span asp-validation-for="NextOfKinEmail"></span>
			</div>
			
			<div class="form-group">
				<label asp-for="NextOfKinPhone" class="control-label"></label>
				<input asp-for="NextOfKinPhone" type="text" class="form-control" />
				<span asp-validation-for="NextOfKinPhone"></span>
			</div>
			<div class="form-group">
				<label asp-for="NextOfKinDateOfBirth" class="control-label"></label>
				<input id="dob" asp-for="NextOfKinDateOfBirth" type="date" class="form-control" />
				<span asp-validation-for="NextOfKinDateOfBirth"></span>
			</div>

			<div class="form-group">
				<a class="btn btn-outline-warning" asp-action="Biodata">Prev</a>
				<input class="btn btn-outline-success" type="submit" value="Next" />
			</div>
		</div>
	</form>
</div>